#banner-wrapper  { background: url("atlrug_meetup_crop.jpg") no-repeat scroll center top / cover #272727; color: #fff; height: 100%; width: 100%;margin: 0 auto; }
#banner 				{  height: 100%; position: relative; padding: 100px 0; width: 100%;
	h1 					{  color: #fff; border-bottom: 3px solid $pink;}
	h4 					{  font-family: 'Roboto Slab', sans-serif; font-weight: 400;}
}