// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job-post-meta { margin-bottom: 1em; }
.continue_read { margin-top: 0em; margin-bottom: 3em; color: #a20000; }
.job_content   { margin-bottom: 5em; }
