.container
	.row
		.span12
			#hire
				%h1 How to hire a Ruby developer.
				.row
					.span6
						%p There is a lot of demand for Ruby developers, so hiring can be challenging.
						%p
							Send one of your current developers to announce an opening at an AtlRug Meeting.
							Make sure to tell people how your job is different.
						%p If you have no technical experience, you may need a partner who understands technology.
					.span6
						= image_tag "atl_meetup4.jpg", :alt => "Give a Talk", :class => "thumbnail"