#hire
  %h1 How to hire a Ruby developer.
  %p There is a lot of demand for Ruby developers, so hiring can be challenging.
  %p
    Send one of your current developers to announce an opening at an AtlRug Meeting.
    Make sure to tell people how your job is different.
  %p If you have no technical experience, you may need a partner who understands technology.