.container
	.row
		.col-md-12
			#job
				%h1 Our sponsors are usually hiring!
				%p Check the bottom of this page. :)
				.row
					.col-md-6
						%h1 Networking
						%p
							Networking sounds like an MBA buzzword, but it is as easy as coming to a Meeting
							and talking about what interests you in software. We encourage you to come and ask
							people about their jobs.
					.col-md-6
						= image_tag "atl_meetup4.jpg", :alt => "Give a Talk", :class => "thumbnail"