#learn
  %h1 Suggestions for learning Ruby and/or Rails
  %h2 Local
  %h3 Emerald City Programming Group
  %p 
    The Emerald City Programming Group is a group of people getting 
    together in Norcross to learn how to program in Rails.
    Look for Emerald City on the calendar at 
    = link_to 'Atlanta Ruby on Meetup.com', 'http://www.meetup.com/atlantaruby/'
  %br
  %h2 Online
  %p 
    Look for materials that are up to date and use current best practices 
    (probably written in 2012 or 2013).
  %p 
    Be wary of tutorial materials that fail to use Ruby 1.9+ and Rails 3.2+, 
    or fail to reference Git, RVM, or Bundler.
  %br
  %ul
    %li
      = link_to 'Rails Tutorial', 'http://ruby.railstutorial.org/ruby-on-rails-tutorial-book'
      %br
      We've found this book to be an excellent resource for top-down learners: 
      people who like to attack real problems right away, and figure out how 
      the language and framework function as they go.
  %br
  %h2 Books
  %p
    There are lots of various books available, but be wary of outdated ones.
    The best practices are still evolving. Look for books that talk about some
    of the current best practices, as mentioned in the online section, above.
