#meetings
  - if @next_meeting
    %h1= meetup_link(@next_meeting)
    .description= raw(@next_meeting['description'])
    - if @coming_meetings.any?
      %h3 Future Meetings
      %ul
        - @coming_meetings.each do |meeting|
          %li= meetup_link(meeting)
  - else
    %h1 No upcoming meetings.
  %h2
    See more on
    = link_to 'meetup.com', 'http://www.meetup.com/atlantaruby/'
