#sponsors
  %h1 Sponsors!
  %h2 Platinum Sponsors
  %ul.platinum
    %li
      %a{:href => 'http://vitrue.com/'}
        =image_tag "vitrue.png", :alt => 'Vitrue'
    %li
      %a{:href => 'http://blinqmedia.com/'}
        =image_tag "blinq.png", :alt => 'Blinq Media'
  %h2 Others (also important!)
  %ul.other
    %li
      %a{:href => 'http://www.thoughtworks.com/'} ThoughtWorks
      – bronze sponsor
    %li
      %a{:href => 'http://atdc.org/'} ATDC
      — supplies room for monthly meetings
    %li
      %a{:href => 'http://www.primedia.com/'} Primedia
      — supplies room for Emerald City Meetings
    %li
      %a{:href => 'http://highgroove.com'} Highgroove
      — pays for Meetup account
