#banner-wrapper
	#banner
		.container
			.row
				.col-md-12
					.col-md-7
						%h1 Atlanta Ruby Users Group
					.col-md-7
						%h4 Meet with others interested in developing, promoting, fostering, strengthening, and improving the Ruby programming language and Ruby community.
