#banner-wrapper
	#banner
		.container
			.row
				.span12
					.span7
						%h1 Atlanta Ruby Users Group
					.span7
						%h4 Meet with others interested in developing, promoting, fostering, strengthening, and improving the Ruby programming language and Ruby community.
