#sponsors.container
  .row
    .col-md-7
      %h4 <b>Platinum Sponsor
      %ul.platinum
        %li
          %a{:href => 'http://mandrill.com'} Mandrill
          – Transactional Email from MailChimp
        %li.sponsor-image
          %a{:href => 'http://mandrill.com'}
            =image_tag "mandrill.png", :alt => 'Mandrill'
    .col-md-5
      %h4 <b>Other Sponsors
      %ul.other
        %li
          %a{:href => 'http://rentpath.com/'} RentPath
          %span Provides Space for Emerald City Meetings
        %li
          %a{:href => 'http://www.bignerdranch.com'} Big Nerd Ranch
          %span Pays for Meetup Account Fees
