#sponsors.container
  .row
    .span7
      %h4 Platinum Sponsors
      %ul.platinum
        %li
          %a{:href => 'http://blinqmedia.com/'} Blinq Media
        %li.sponsor-image
          %a{:href => 'http://blinqmedia.com/'}
            =image_tag "blinq.png", :alt => 'Blinq Media'
      %ul.platinum
        %li
          %a{:href => 'http://vitrue.com/'} Oracle
        %li.sponsor-image
          %a{:href => 'http://vitrue.com/'}
            =image_tag "oracle-vitrue.png", :alt => 'Vitrue'
    .span5
      %h4 Others Sponsors
      %ul.other
        %li
          %a{:href => 'http://www.thoughtworks.com/'} ThoughtWorks
          %span Bronze Sponsor
        %li
          %a{:href => 'http://atdc.org/'} ATDC
          %span Provides Space for Monthly Meetings
        %li
          %a{:href => 'http://atlantatechvillage.com'} Atlanta Tech Village
          %span Provides Space for RHOK 2013 Rails Team
        %li
          %a{:href => 'http://www.primedia.com/'} Primedia
          %span Provides Space for Emerald City Meetings
        %li
          %a{:href => 'http://www.bignerdranch.com'} Big Nerd Ranch
          %span Pays for Meetup Account Fees