#contact-us.container
  .row
    .col-md-8
      %ul.nav
        %li.active
          %a{:href => "http://meetup.com/atlantaruby/"}
            %i.icon-group
            Meetup
        %li
          %a{:href => "http://twitter.com/atlrug"}
            %i.icon-twitter
            @atlrug
        %li
          %a{:href => "https://github.com/atlrug/atlrug4/wiki"}
            %i.icon-github
            Wiki
        %li
          %a{:href => "http://www.linkedin.com/groups/Atlanta-Ruby-Users-Group-106945/about"}
            %i.icon-linkedin-sign
            Linkedin
        %li
          %a{:href => "https://tech404.slack.com/messages/rails"}
            %i.icon-comments-alt
            Slack/Tech404/Rails
        %li
          %a{:href => "https://github.com/atlrug/CoC"}
            %i.icon-file-alt
            Code of Conduct
