#sponsors.container
  .row
    .col-md-7
      %h4 <b>Platinum Sponsors
      %ul.platinum
        %li
          %a{:href => 'http://www.pardot.com'} Pardot
          – B2B Marketing Automation
        %li.sponsor-image
          %a{:href => 'http://www.pardot.com'}
            =image_tag "pardot-logo.png", :alt => 'Pardot'
      %ul.platinum
        %li
          %a{:href => 'http://mandrill.com'} Mandrill
          – Transactional Email from MailChimp
        %li.sponsor-image
          %a{:href => 'http://mandrill.com'}
            =image_tag "mandrill.png", :alt => 'Mandrill'
