#main-nav.navbar
  .navbar-inner
    .container
      %a{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :class => "btn navbar-btn"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.logo{:href => root_url }
        =image_tag "ATLRUG_logo.png", :alt => 'Atlanta Ruby Logo'
      %div.navbar-collapse
        %ul.nav.navbar-nav.nav-links.navbar-left
          %li
            = link_to 'Go to Meetings', meetings_path
          %li
            = link_to 'Find Presentations', videos_path
        %ul.nav.navbar-nav.nav-links.navbar-right
          %li
            = link_to 'Learn Ruby', '/learn'
          %li
            = link_to 'Find a Job', jobs_path
