.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_url} ATLRUG
      .nav-collapse.collapse
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "http://meetup.com/atlantaruby/"} Meetup
          %li
            %a{:href => "http://twitter.com/atlrug"} @atlrug
          %li
            %a{:href => "https://github.com/atlrug/atlrug4/wiki"} Wiki
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Admin
              %b.caret
            %ul.dropdown-menu
              - if signed_in?
                %li
                  %a{:href => approve_talks_path, :tabindex => "-1"} Approve Talks
                %li
                  %a{:href => log_out_path, :method => :delete, :tabindex => "-1"} Log out
              - else
                %li
                  %a{:href => login_path, :tabindex => "-1"} Login
